@import "./pages/about-viz.css";
@import "./pages/common-questions.css";
@import "./pages/for-industry.css";
@import "./pages/for-students.css";
@import "./pages/vif-committee.css";
@import "./pages/welcome.css";

@import "./components/banner.css";
@import "./components/collapsible.css";
@import "./components/expand-btn.css";
@import "./components/footer.css";
@import "./components/nav.css";
@import "./components/scrollbar.css";
@import "./components/sizzle-reels.css";
@import "./components/spinner.css";

@import "./layout/layout.css";

@import "./partials/base.css";
@import "./partials/typography.css";
@import "./partials/animation.css";

@import "./variables/breakpoints.css";
@import "./variables/colors.css";
@import "./variables/spacing.css";




/*****************************************************************/
/**************************** HELPER CLASSES ****************************/
/*****************************************************************/


/*****************************************************************/
/**************************** MEDIA QUERIES ****************************/
/*****************************************************************/

/* @media only screen and (max-width: 768px) {
  .container.home {
    grid-template-columns: 1fr;
    grid-template-areas:
    "nav"
    "banner"
    "welcome"
    "companies"
    "footer"
    ;
  }

  .nav {
    position: sticky;
    top: 0;
    background-color: var(--color-gray-lightest);
    box-shadow: 0 3px 10px #cfcfcf;
    height: 6rem;

    display: flex;
    align-items: center;
  }

  .nav__list {
    flex-direction: row;
  }

  .nav__item {
    margin: 0!important;
  }
} */

/* @media only screen and (max-width: 1024px) {
  .companies-list {
    display: flex;
    flex-direction: column;
  }

  .companies-list__item:nth-child(even) {
    background-color: var(--color-gray-lightest);
  }
  
  .companies-list__item:nth-child(odd) {
    background-color: var(--color-primary-lightest);
  }
} */
