@import "./pages/about-viz.css";
@import "./pages/common-questions.css";
@import "./pages/for-industry.css";
@import "./pages/for-students.css";
@import "./pages/vif-committee.css";
@import "./pages/welcome.css";

@import "./components/banner.css";
@import "./components/collapsable.css";
@import "./components/expand-btn.css";
@import "./components/footer.css";
@import "./components/nav.css";
@import "./components/scrollbar.css";
@import "./components/sizzle-reels.css";
@import "./components/spinner.css";

@import "./partials/typography.css";
@import "./partials/animation.css";

@import "./variables/colors.css";
@import "./variables/spacing.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  line-height: 1;
  font-size: 1.8rem;
  background-color: var(--color-primary-dark);
  color: var(--color-gray-darkest);
}

.container {
  max-width: 140rem;
  padding-top: 0;
  background-color: var(--color-gray-lightest);

  margin: 0 auto;
  box-shadow: 0 5px 10px #1b000b;

  display: grid;
  grid-template-columns: 20fr 80fr;
  row-gap: 3rem;
  justify-content: center;
  
  grid-template-areas:
    "banner banner"
    "nav main"
    "footer footer";
}

/*****************************************************************/
/**************************** GENERAL ****************************/
/*****************************************************************/

address {
  font-style: normal;
}

.paragraphs-container {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.main {
  padding: 0 6.4rem;
  grid-area: main;
}


/*****************************************************************/
/**************************** HELPER CLASSES ****************************/
/*****************************************************************/


/*****************************************************************/
/**************************** MEDIA QUERIES ****************************/
/*****************************************************************/

/* @media only screen and (max-width: 768px) {
  .container.home {
    grid-template-columns: 1fr;
    grid-template-areas:
    "nav"
    "banner"
    "welcome"
    "companies"
    "footer"
    ;
  }

  .nav {
    position: sticky;
    top: 0;
    background-color: var(--color-gray-lightest);
    box-shadow: 0 3px 10px #cfcfcf;
    height: 6rem;

    display: flex;
    align-items: center;
  }

  .nav__list {
    flex-direction: row;
  }

  .nav__item {
    margin: 0!important;
  }
} */

/* @media only screen and (max-width: 1024px) {
  .companies-list {
    display: flex;
    flex-direction: column;
  }

  .companies-list__item:nth-child(even) {
    background-color: var(--color-gray-lightest);
  }
  
  .companies-list__item:nth-child(odd) {
    background-color: var(--color-primary-lightest);
  }
} */
