/*****************************************************************/
/**************************** ANIMATION ****************************/
/*****************************************************************/

/* expand and collapse */
@keyframes collapse {
  0% {
    transform: translateY(0);
    height: 100%;
    padding: var(--padding-collapsable);
  }

  100% {
    padding: var(--padding-collapsable);
    transform: translateY(-100%);
  }
}

@keyframes expand {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

/* rotate */
@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
