/*****************************************************************/
/**************************** HELPERS ****************************/
/*****************************************************************/

.margin-bm-tiny {
  margin-bottom: 1rem!important;
}

.margin-bm-small {
  margin-bottom: 1.6rem!important;
}

.margin-bm-medium {
  margin-bottom: 3.6rem!important;
}

.margin-bm-large {
  margin-bottom: 4.8rem!important;
}

