/*****************************************************************/
/**************************** collapsible ****************************/
/*****************************************************************/

.collapsible {
  animation-duration: 0.1s;
  animation-timing-function: ease-out;

  height: 0;
  padding: 0;
  overflow: hidden;
}

.collapsible.expanded {
  animation-name: expand;

  height: initial;
  padding: var(--padding-collapsible);
}

.collapsible.collapsed {
  animation-name: collapse;
  height: 0;
  padding: 0;
}
