/*****************************************************************/
/**************************** EXPAND BUTTON ****************************/
/*****************************************************************/

.expand-btn {
  width: 38px;
  height: 15px;
  margin-right: 0.5rem;
  background-color: transparent;
}

.expand-btn:hover {
  cursor: pointer;
}

.expand-btn > div {
  width: 100%;
  height: 100%;
  clip-path: polygon(0 100%, 30% 100%, 50% 60%, 70% 100%, 100% 100%, 50% 0);
  background-color: var(--color-primary-lightest);
  transition: all 0.1s;
}

.expand-btn:hover > div {
  background-color: var(--color-primary-light);
}

.expand-btn.expand > div {
  clip-path: polygon(0 0, 30% 0, 50% 40%, 70% 0, 100% 0, 50% 100%);
}
