/*****************************************************************/
/**************************** FOOTER ****************************/
/*****************************************************************/

.footer {
  grid-area: footer;
  height: 10rem;
}

.footer {
  background-color: var(--color-gray-darkest);

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  color: var(--color-tertiary-lightest);
}

.footer__links {
  list-style: none;
  display: flex;
  gap: 5rem;
}

.footer__link:link,
.footer__link:visited {
  color: var(--color-tertiary-lightest);
}

.footer__link:hover,
.footer__link:active {
  color: var(--color-tertiary-darker);
}

.footer__link {
  font-size: 3.6rem;
}
