/*****************************************************************/
/**************************** NEW TAB ICON ****************************/
/*****************************************************************/

.new-tab-icon {
  height: 1rem;
  width: 1rem;
  fill: inherit;
  position: absolute;
}
