/*****************************************************************/
/**************************** SPINNER ****************************/
/*****************************************************************/

.spinner {
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--color-tertiary-darkest);

  animation:rotate 2s infinite linear;
}