/*****************************************************************/
/**************************** QUESTIONS ****************************/
/*****************************************************************/

.questions__employer-questions {
  margin-top: 6rem;
}

.questions__qa-blocks {
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
}

.questions__qa-block {
  border-radius: 10px;
  overflow: hidden;
}

.questions__header {
  min-height: 7rem;
  background-color: var(--color-secondary-darkest);
  color: var(--color-gray-lightest);
  padding: 1rem 2rem;
  line-height: 1.2;

  display: flex;
  align-items: center;
  gap: 5px;
  z-index: 1;
  position: relative;
}

.questions__header .heading-tertiary {
  flex: 1;
  line-height: 1.4;
}

.questions__answer {
  padding: var(--padding-collapsable);
  background-color: var(--color-tertiary-lightest);
}

.questions__answer.collapsable.expanded {
  border-bottom: solid 2rem var(--color-tertiary-darkest);
}

.questions__answer p.indent {
  padding-left: 2rem;
}
