/*****************************************************************/
/**************************** FOR INDUSTRY ****************************/
/*****************************************************************/

.for-industry__registration-cta {
  padding: 2rem 1.2rem;
  width: 100%;
  background-color: var(--color-primary-dark);
  color: var(--color-gray-lightest);
  border-radius: 10px;
  margin-top: 2.4rem;
}

.for-industry__anticipation-text {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.4;
  color: var(--color-primary-dark);
  transition: font-size 0.1s;
}


@media only screen and (max-width: 768px) {
  .for-industry__anticipation-text {
    font-size: 2.2rem;
  }
}
