/*****************************************************************/
/**************************** FOR STUDENTS ****************************/
/*****************************************************************/

.companies-list {
  list-style: none;
  font-size: 1.8rem;
}

.companies-list__item {
  height: auto;
  padding: 2rem 1rem;
  line-height: 1.5;

  display: flex;
  align-items: center;
}

.companies-list__item:nth-child(even) {
  color: var(--color-gray-lightest);
  background-color: var(--color-tertiary-darkest);
}

.companies-list__item:nth-child(odd) {
  background-color: var(--color-tertiary-lightest);
}