/*****************************************************************/
/**************************** FOR STUDENTS ****************************/
/*****************************************************************/

.companies-list {
  list-style: none;
  font-size: 1.8rem;
}

.companies-list__item {
  height: auto;
  padding: 2rem 1rem;
  line-height: 1.5;

  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  justify-items: center;
}

.companies-list--current .companies-list__item:nth-child(even),
.companies-list--past .companies-list__item:nth-child(even) {
  color: var(--color-gray-lighter);
}

/* STYLINGS FOR CURRENT COMPANIES */
.companies-list--current .companies-list__item:nth-child(even) {
  background-color: var(--color-tertiary-darkest);
}

.companies-list--current .companies-list__item:nth-child(odd) {
  background-color: var(--color-tertiary-lightest);
}

.companies-list--current .companies-list__name {
  font-weight: bold;
}

.companies-list--current .companies-list__item .link {
  padding: 0;
  width: max-content;
}

.companies-list--current .companies-list__item:nth-child(even) .link:link,
.companies-list--current .companies-list__item:nth-child(even) .link:visited {
  color: unset;
}
.companies-list--current .companies-list__item:nth-child(even) .link:hover,
.companies-list--current .companies-list__item:nth-child(even) .link:active {
  color: var(--color-tertiary-light);
}

.companies-list--current .companies-list__item:nth-child(odd) .link:link,
.companies-list--current .companies-list__item:nth-child(odd) .link:visited {
  color: unset;
}
.companies-list--current .companies-list__item:nth-child(odd) .link:hover,
.companies-list--current .companies-list__item:nth-child(odd) .link:active {
  color: var(--color-tertiary-dark);
}

.companies-list__focus {
  font-size: 1.6rem;
}

/* STYLINGS FOR PAST COMPANIES */
.companies-list--past .companies-list__item:nth-child(even) {
  background-color: var(--color-gray-darkest);
}

.companies-list--past .companies-list__item:nth-child(odd) {
  background-color: var(--color-gray-lighter);
}


/* FILTER BAR */

.filter-bar {
	display: inline-block;
	padding: 1rem 1rem;
  width: 50rem;

	font-size: 1.6rem;
	font-weight: 300;

	background-color: var(--color-gray-lightest);
	color: var(--color-gray-darkest);
  box-shadow: inset 0 0 0 1px var(--color-tertiary-light);

  transition: box-shadow 0.1s;
}

.filter-bar:focus {
	outline: none;
	box-shadow: inset 0 0 0 2px var(--color-tertiary-dark);
}

.filter-bar::placeholder {
	color: var(--color-gray);
}

@media only screen and (max-width: 768px) {
  .filter-bar {
    width: 100%
  }
}
