/*****************************************************************/
/**************************** FOR INDUSTRY ****************************/
/*****************************************************************/

.for-industry__anticipation-text {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.4;
  color: var(--color-primary-dark);
  transition: font-size 0.1s;
}


@media only screen and (max-width: 768px) {
  .for-industry__anticipation-text {
    font-size: 2.2rem;
  }
}
