/*****************************************************************/
/**************************** FOR INDUSTRY ****************************/
/*****************************************************************/

.for-industry section {
  margin-bottom: 3.6rem;
  transition: margin-bottom 0.1s;
}

.for-industry__content {
  display: flex;
  flex-direction: column;
  /* gap: 2rem; */
}

.for-industry__registration-cta {
  padding: 2rem 1.2rem;
  width: 100%;
  background-color: var(--color-primary-dark);
  color: var(--color-gray-lightest);
  border-radius: 10px;
  margin-top: 2.4rem;
}

.for-industry__registration-cta p {
  font-size: 2rem;
  line-height: 3.6rem;
}

.for-industry__anticipation-text {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.4;
  color: var(--color-primary-dark);
}



@media only screen and (max-width: 768px) {
  .for-industry section {
    margin-bottom: 3.6rem;
  }
}
