/*****************************************************************/
/**************************** VIF COMMITTEE ****************************/
/*****************************************************************/

.committee__blocks {
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
}

.committee__block {
  border-radius: 10px;
  overflow: hidden;
}

.committee__block-header {
  min-height: 10rem;
  background-color: var(--color-secondary-darkest);
  color: var(--color-gray-lightest);
  padding: 1rem 2rem;
  line-height: 1.2;

  display: flex;
  align-items: center;
  gap: 5px;
  z-index: 1;
  position: relative;
}

.committee__block-header:hover {
  cursor: pointer;
}

.committee__block-header.committee__block-header--director {
  background-color: var(--color-primary-dark);
}

.committee__block-header.committee__block-header--faculty {
  background-color: var(--color-gray-darkest);
}

.committee__block-header .committee__photo-container {
  margin-right: 1rem;

  display: flex;
  align-items: center;
}

.committee__photo {
  width: 7rem;
  border-radius: 10px;
  border: 2px solid var(--color-gray-lightest);
  box-sizing: content-box;
}

.committee__header-text {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.committee__block-header .heading-tertiary {
  flex: 1;
}

.committee__social-links {
  background-color: var(--color-secondary-darkest);
  padding: 1rem 2rem;
  position: relative;
  z-index: 1;
  transition: all 0.1s;

  display: flex;
  gap: 1rem;
  align-items: center;
}

.committee__social-links.committee__social-links--director {
  background-color: var(--color-primary-dark);
}

.committee__social-links.committee__social-links--faculty {
  background-color: var(--color-gray-darkest);
}

.committee__social-link:link,
.committee__social-link:visited {
  color: var(--color-gray-lightest);
}

.committee__social-link:hover,
.committee__social-link:active {
  color: var(--color-primary-lightest);
}

.committee__social-icon {
  font-size: 3.6rem;
}

.committee__description {
  padding: var(--padding-collapsible);
  background-color: var(--color-tertiary-lightest);
}

.committee__description.committee__description--director {
  background-color: var(--color-primary-lightest);
}

.committee__description.committee__description--faculty {
  background-color: var(--color-gray-lighter);
}

.committee__description.collapsible:not(.expanded) + .committee__social-links {
  /* Remove padding above social links when collapsed */
  padding-top: 0 !important;
}

.committee__description.collapsible:not(.expanded)
  + .committee__social-links--empty {
  /* Remove ALL padding from empty social links when collapsed */
  padding: 0 !important;
}

.committee__description p.indent {
  padding-left: 2rem;
}
