:root {
  --color-primary-dark: #5c0025;
  --color-primary: #ce3c96;
  --color-primary-light: #ff8fbc;
  --color-primary-lightest: #ffd3e4;

  --color-secondary-darkest: #2d4d4c;
  --color-secondary-dark: #0eb972;
  --color-secondary: #4fbd90;

  --color-tertiary-darkest: #1a4e50;
  --color-tertiary-darker: #32999d;
  --color-tertiary-dark: #3bb2b6;
  --color-tertiary: #5ac6ca;
  --color-tertiary-light: #9adcdf;
  --color-tertiary-lightest: #ceeeef;

  --color-gray-darkest: #333;
  --color-gray-dark: #555;
  --color-gray: #767676;
  --color-gray-light: #c1c1c1;
  --color-gray-lighter: #eee;
  --color-gray-lightest: #fff;
}